<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdurrahmanjun.profile">

    <application>
        <activity
            android:name=".persentation.feature.login.LoginActivity"
            android:theme="@style/NoActionBarStyle"/>
        <activity android:name=".persentation.feature.signup.SignUpActivity"/>
    </application>

</manifest>